@page "/dark"
@using Astronomy

<h3>Dark time</h3>
<h4>
    Dusk - Dawn period:
    @sunTimes.Dusk.ToString("HH:mm:ss")
    - @sunTimes.Dawn.ToString("HH:mm:ss")
</h4>
<h4>
    Nautial Dusk - Dawn period:
    @sunTimes.NauticalDusk.ToString("HH:mm:ss")
    - @sunTimes.NauticalDawn.ToString("HH:mm:ss")
</h4>
<h4>
    Night period:
    @sunTimes.Night.ToString("HH:mm:ss")
    - @sunTimes.NightEnd.ToString("HH:mm:ss")
</h4>
<h4>
    Moon Rise - Set period:
    @moonTimes.Rise.ToString("HH:mm:ss")
    - @moonTimes.Set.ToString("HH:mm:ss")
</h4>
<h4>
    Moon Fraction:
    @moonIllumination.Item1
</h4>
<h4>
    Moon Phase:
    @moonIllumination.Item2
</h4>



<p>Тёмный уголок (уколок вампира, вора, военного)</p>
<p>Когда заходит солнце, самое тёмное время суток, свет луны и т.п.</p>

@code {
    SunTimes sunTimes = SunCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
    MoonTimes moonTimes = MoonCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
    Tuple<double, double, double> moonIllumination = MoonCalculator.GetMoonIllumination(MainLayout.selectedDate);
}
