@page "/dark"
@using Astronomy

<h3>Dark time</h3>
<h4>Welcome to the dark side! <i>(we have cookies)</i></h4>
<h4>A corner for different types of people: introverts, love birds, thieves, military, vampires...</h4>
<br />
<h4>
    Dusk - Dawn period:
    <br />
    @sunTimes.Dusk.ToString("HH:mm:ss")
    - @sunTimes.Dawn.ToString("HH:mm:ss")
</h4>
<h4>
    Nautial Dusk - Dawn period:
    <br />
    @sunTimes.NauticalDusk.ToString("HH:mm:ss")
    - @sunTimes.NauticalDawn.ToString("HH:mm:ss")
</h4>
<h4>
    Night period:
    <br />
    @sunTimes.Night.ToString("HH:mm:ss")
    - @sunTimes.NightEnd.ToString("HH:mm:ss")
</h4>
<h4>
    Moon Rise - Set period:
    <br />
    @moonTimes.Rise.ToString("HH:mm:ss")
    - @moonTimes.Set.ToString("HH:mm:ss")
</h4>
<h4>
    Moon Fraction:
    <br />
    @moonIllumination.Item1
</h4>
<h4>
    Moon Phase:
    <br />
    @moonIllumination.Item2
</h4>

@code {
    SunTimes sunTimes = SunCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
    MoonTimes moonTimes = MoonCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
    Tuple<double, double, double> moonIllumination = MoonCalculator.GetMoonIllumination(MainLayout.selectedDate);
}
