@page "/photo"
@using Astronomy

<h3>Photo best moments</h3>

<h4>
    Sunrise period: 
    @selectedTimes.Sunrise.Hour:@selectedTimes.Sunrise.Minute:@selectedTimes.Sunrise.Second
    - @selectedTimes.SunriseEnd.Hour:@selectedTimes.SunriseEnd.Minute:@selectedTimes.SunriseEnd.Second
</h4>

<h4>
    Golden hours period:
    @selectedTimes.GoldenHour.Hour:@selectedTimes.GoldenHour.Minute:@selectedTimes.GoldenHour.Second
    - @selectedTimes.GoldenHourEnd.Hour:@selectedTimes.GoldenHourEnd.Minute:@selectedTimes.GoldenHourEnd.Second
</h4>

<h4>
    Sunset period:
    @selectedTimes.SunsetStart.Hour:@selectedTimes.SunsetStart.Minute:@selectedTimes.SunsetStart.Second
    - @selectedTimes.Sunset.Hour:@selectedTimes.Sunset.Minute:@selectedTimes.Sunset.Second
</h4>
<p>Вывод промежутков восхода-захода солнца для создания красивых снимков на фоне заката</p>

@code {
    SunTimes selectedTimes = SunCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
    //SunTimes MoscowSunTimes = SunCalculator.GetTimes(MainLayout.selectedDate, 55.75700, 37.61500);
    //SunTimes KazanSunTimes = SunCalculator.GetTimes(MainLayout.selectedDate, 55.80030, 49.10827);

}
