@page "/photo"
@using Astronomy

<h3>Photo best moments</h3>

<h4>
    Sunrise period: 
    @selectedTimes.Sunrise.ToString("HH:mm:ss")
    - @selectedTimes.SunriseEnd.ToString("HH:mm:ss")
</h4>

<h4>
    Golden hours period:
    @selectedTimes.GoldenHour.ToString("HH:mm:ss")
    - @selectedTimes.GoldenHourEnd.ToString("HH:mm:ss")
</h4>

<h4>
    Sunset period:
    @selectedTimes.SunsetStart.ToString("HH:mm:ss")
    - @selectedTimes.Sunset.ToString("HH:mm:ss")
</h4>
<p>Вывод промежутков восхода-захода солнца для создания красивых снимков на фоне заката</p>

@code {
    SunTimes selectedTimes = SunCalculator.GetTimes(MainLayout.selectedDate, MainLayout.latitude, MainLayout.longitude);
}
